<app-navi [(search)]="naviSearchText">
  <button type="button"
          class="btn btn-outline-primary dashboard-navi-button"
          (click)="addToDo()"
          [attr.data-target]="'#'+addModalId"
          [ngClass]="{active: addToDoModeOn}"
          data-toggle="modal">Add</button>
  <span class="mr-3 ml-3"></span>
  <button type="button" class="btn btn-outline-danger dashboard-navi-button" (click)="toggleDeleteMode()" [ngClass]="{active: deleteModeOn}">Delete</button>
  <span class="ml-3 mr-3"></span>
</app-navi>

<div class="container row-container" [ngClass]="{'start-animation-finish':moveInAnimationFinish}">
  <div class="row first-row-animation bg-light"
       [ngClass]="{'start-animation-finish': !moveInAnimationFinish}">
    <div class="col-12 text-center h2" i18n="@@dashboard.title">Your Table</div>
  </div>
  <!--
  <div class="row border-dark">
    <div class="col-{{headObj.col}} pl-2 pb-1 h2 text-center text-justify" *ngFor="let headObj of tableHead">
      <span class="align-middle">{{headObj.label}}</span>
    </div>
  </div>-->
  <div class="row row-animation bg-light"
       *ngFor="let todo of getCurrentToDoGroup().items | toDoSearch: naviSearchText | toDoStatusPrio"
       [ngClass]="{shake: (deleteModeOn && todo.getMoveState() === 'in'), 'row-start-animation': !moveInAnimationFinish }"
       [@moveRowIn]="todo.getMoveState()"
       [@moveRowOut]="todo.getMoveState()">

    <div class="col-1" [ngStyle]="{'background-color': todo.getStatusColor()}"></div>
    <div class="col-3 pt-2 pb-2">
      <input class="form-control"
             type="date"
             [ngModel]="todo.getDate() | date:'yyyy-MM-dd'" (ngModelChange)="changeToDo(todo, 'date', $event)"/>
    </div>
    <div class="col-8 pt-2 pb-2">
      <input class="form-control" (change)="changeToDo(todo, 'name', $event.target.value)" type="text" value="{{todo.getName()}}"/>
    </div>
    <div class="removeRowTrigger"
         (mousedown)="onMouseDown($event)"
         (mouseup)="onMouseUp($event, todo)"
         (mouseout)="onMouseOut($event)"></div>
  </div>
  <mat-paginator [@fade]="moveInAnimationFinish?'in':'out'"
                 [length]="toDoCount"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5,10,25]"
                 (page)="handlePageChange($event)">
  </mat-paginator>
</div>

<!-- Modal -->
<app-to-do [name]="addModalId" [newToDo]="newToDo" (close)="onCloseModal($event)"></app-to-do>
