<div class="modal fade"
     [attr.id]="name"
     tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new RegExp</h5>
        <a [routerLink]="['/shop']">
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
      </div>
      <div class="modal-body">
        <div>
          Use these expressions:
          <ul>
            <li>Letters => A</li>
            <li>Numbers => 1</li>
            <li>Slash => /</li>
            <li>Backslash => \</li>
            <li>Comma => -</li>
          </ul>
          Example: A-11111 => U-00001
        </div>
        <label for="regExpName">Name</label>
        <input class="form-control"
               name="regExpName"
               id="regExpName"
               type="text"
               [ngModel]="currentRegEx.name"
               (ngModelChange)="currentRegEx.name = $event"/>
        <label for="regExValue">Pattern</label>
        <input class="form-control"
               type="text"
               name="regExValue"
               id="regExValue"
               [(ngModel)]="currentRegEx.value.searchable"
               pattern="^[LN\/]+$"
               minlength="5"/>
      </div>
      <div class="modal-footer">
        <a [routerLink]="['/shop']">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="closeModal(true)">Save changes</button>
        </a>
      </div>
    </div>
  </div>
</div>
