<p>
  shoptype works!
</p>

<div *ngIf="formControl; then trueBlock; else falseBlock"></div>
<ng-template #trueBlock>
  TrueBlock
</ng-template>
<ng-template #falseBlock>
  FalseBlock
</ng-template>

<br/>

<app-formblock [condition]="true">
  <div isTrue>
    Yes, is true
  </div>
  <div isFalse>
    No, is false
  </div>
</app-formblock>
<button (click)="switchTemplate()">Switch Template Current Template {{thenBlock === primaryBlock ? 'Primary' : 'Secondary'}}</button>

<br/>

<div *ngIf="show2; then thenBlock; else elseBlock">this is ignored</div>
<ng-template #primaryBlock>Primary text to show</ng-template>
<ng-template #secondaryBlock>Secondary text to show</ng-template>
<ng-template #elseBlock>Alternate text while primary text is hidden</ng-template>
