<p>
  shoptype works!
</p>

<div *ngIf="formControl; then trueBlock; else falseBlock"></div>
<ng-template #trueBlock>
  <div>
    <input [formControl]="myFormControl">
  </div>
</ng-template>
<ng-template #falseBlock>
  <div [fromGroup]="myForm">
    <input [formControlName]="formControlName">
  </div>
</ng-template>

<button (click)="switchTemplate()">Switch Template Current Template {{thenBlock === primaryBlock ? 'Primary' : 'Secondary'}}</button>

<div *ngIf="show2; then thenBlock; else elseBlock">this is ignored</div>
<ng-template #primaryBlock>Primary text to show</ng-template>
<ng-template #secondaryBlock>Secondary text to show</ng-template>
<ng-template #elseBlock>Alternate text while primary text is hidden</ng-template>
