<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first pt-4 pb-3">
      Please log in...
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="text" name="username" formControlName="username" placeholder="Username" class="fadeIn third" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div [ngStyle]="{display:submitted && f.username.errors?'block':'none'}" class="invalid-feedback">
        <div *ngIf="f.username.errors">Username is required</div>
      </div>
      <input type="password" name="password" formControlName="password" placeholder="password" class="fadeIn third" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div [ngStyle]="{display:submitted && f.password.errors?'block':'none'}" class="invalid-feedback">
        <div *ngIf="f.password.errors">Password is required</div>
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
    -->

  </div>
</div>
