<div class="container">
  <div class="row">
    <div class="col-12 h2" i18n="@@de.dashboard.title">Your Table</div>
  </div>
  <div class="row">
    <div class="col-4 bg-info pl-2 pb-1 h2" *ngFor="let head of tableHead">
      {{head}}
    </div>
  </div>
  <div class="row" *ngFor="let todo of todos | toDoStatusPrio">
    <div class="col-4 pt-2" [ngStyle]="{'background-color': todo.getStatusColor()}">
      {{todo.getStatusText()}}
    </div>
    <div class="col-4 pt-2">
      <input class="form-control" (change)="changeToDo(todo, 'date', $event.target.value)" type="date" [ngModel]="todo.getDate() | date:'yyyy-MM-dd'"/>
    </div>
    <div class="col-4 pt-2">
      <input class="form-control" (change)="changeToDo(todo, 'name', $event.target.value)" type="text" value="{{todo.getName()}}"/>
    </div>
  </div>
</div>
